{% extends 'base.html' %}

{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

{% include 'navbar.html' %}
<div class="container">
    <div class="row align-items-center py-5 g-5">
        <div class="col">
            <div class="text-start">
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h1><strong>About</strong></h1>
            </div>
        </div>
        <div class="col">
            <div class="text-end">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <p class="fs-4"><strong>What is Sittybos?</strong></p>
    
        <div class="row row-cols-1 row-cols-md-3 text-wrap pb-3">
            <div class="col">
            </div>
            <div class="col">
                <strong>Sittybos</strong> is a syllabus maker intended to procure syllabus efficiently and conveniently.
                <strong>Sittybos</strong> is designed to provide a platform that will assists the client to create a syllabus with ease.
                It also act as a library or storage for course syllabus. 
                 
            </div>
            <div class="col">
            </div>  
        </div>
    </div>

    <div>
        <p class="fs-4 text-center pt-5"><strong>The Developers</strong></p>
        <div class="row row-cols-1 row-cols-md-6 g-3 cropped-sq">
            <div class="col">
                <div class="card h-100">     
                      <img src="https://cdn.discordapp.com/attachments/1022698566604554311/1049021298342363206/AD5-WCl2h96GBTYW-zELSHNi_OCubWHsra5ztWjNdBlWs240-p-k-rw-no.png" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm pix" height="1920px" width="1080px" alt="...">
                      <div class="card-body">
                          <h4 class="card-title">Dr. Jonathan Taylar</h4>
                          <p class="card-text">
                              <div class="text-truncate">
                                  <strong>Computer Engineering Dept.</strong><br/>
                              </div>
                              <div class="text-truncate">
                                  <strong>Professor</strong>
                                  <br/>
                              </div>
                              <div class="text-truncate"> jtaylar.cpe@tip.edu.ph<br/>
                              </div>
                          </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 ">
                    <img src="https://cdn.discordapp.com/attachments/1020166165378650152/1053277865694728253/me.jpg" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm " height="1920px" width="1080px" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Mark Tristan Abbu</h4>
                            <p class="card-text">
                                <div class="text-truncate">
                                    <strong>Team 7</strong><br/>
                                </div>
                                <div class="text-truncate"> qmtmabbu@tip.edu.ph <br/></div>
                            </p>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://cdn.discordapp.com/attachments/898117190681788427/1053294452518703124/ej.jpg" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm " height="1920px" width="1080px" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Elijah Belen</h4>
                            <p class="card-text">
                                <div class="text-truncate">
                                    <strong>Team 7</strong><br/>
                                </div>
                                <div class="text-truncate"> qepbelen@tip.edu.ph <br/></div>
                            </p>
                        </div>
                </div>
          </div>

          <div class="col">
            <div class="card h-100">
                <img src="https://cdn.discordapp.com/attachments/1020166165378650152/1053265878969483284/20221216_185521.jpg" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm " height="1920px" width="1080px" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Majorie Jordan Dominguez</h4>
                        <p class="card-text">
                            <div class="text-truncate">
                                <strong>Team 7</strong><br/>
                            </div>
                            <div class="text-truncate"> qmjdominguez@tip.edu.ph <br/></div>
                        </p>
                    </div>
            </div>
         </div>

         <div class="col">
            <div class="card h-100">
                <img src="https://cdn.discordapp.com/attachments/1020166165378650152/1053260369394683954/1911365.jpg" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm " height="1920px" width="1080px" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Reymart Rodas</h4>
                        <p class="card-text">
                            <div class="text-truncate">
                                <strong>Team 7</strong><br/>
                            </div>
                            <div class="text-truncate"> qrbrodas@tip.edu.ph <br/></div>
                        </p>
                    </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="https://cdn.discordapp.com/attachments/1020166165378650152/1053261026218491974/1912434.png" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm " height="1920px" width="1080px" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Karl Justine Siason</h4>
                        <p class="card-text">
                            <div class="text-truncate">
                                <strong>Team 7</strong><br/>
                            </div>
                            <div class="text-truncate"> qkjmsiason01@tip.edu.ph <br/></div>
                        </p>
                    </div>
            </div>
      </div>
    </div>
</div>
<div class="container text-center fw-light py-5">
    In case of errors, suggestions, or have questions regarding the web application. Contact us using the email provided. 
</br>
<center>-- CPE41S1-Team 7 --</center>
</div>
</div>

{% endblock content%}